
<div id="footer" class="pure-g">
  <div class="pure-u-1-2 logo"><div class="content"><a href=""><img src="images/zetta-logo_sm.png"/></a></div></div>
  <div class="pure-u-1-2 icons"><div class="content">
    <ul>
      <li>
        <a href="https://github.com/zettajs">
          <div class="pure-button pure-button-primary"><i class="fa fa-github"></i> github
          </div>
        </a>
      </li>
      <!-- 
        <li><a href="https://twitter.com/zettajs"><i class="fa fa-twitter"></i></a></li>
      -->
      
    </ul>
    </div>
  </div>
</div>
