<ng-include src="'partials/header.html'"></ng-include>
<section class="page_content pure-g" id="overview" ng-init="init()">
  <div class="server device-group pure-g" ng-repeat="server in servers" ng-show="server.devices.length">
    <div class="pure-u-1-6 pure-u-md-1-12"></div>
    <h2 class="name pure-u-5-6 pure-u-md-11-12">
      {{ server.name }} :{{server.type}}
    </h2>
    <section class="devices pure-u-1">
      <section class="device pure-u-1" ng-repeat="device in server.devices">
        <div class="row main pure-g">
          <div class="pure-u-1-6 pure-u-md-1-12"></div>
          <div class="name pure-u-5-6 pure-u-md-11-12">
            <a ng-click="resolve(device.href)">{{ device.properties.name || device.properties.type }}</a>
          </div>
        </div>
        <div class="row stream pure-g" ng-repeat="stream in device.streams">
          <div class="switches pure-u-1-6 pure-u-md-1-12">
            <b class="mute">eye</b>&nbsp;<b class="pin">pushpin</b>
          </div>
          <div class="name pure-u-5-12 pure-u-md-1-4">
            : {{ stream.name }}
          </div>
          <div class="value pure-u-5-12 hide-md">
            {{ stream.current }}
          </div>
          <div class="pure-u-1-6 hide-md">&nbsp;</div>
          <div class="vis pure-u-5-6 pure-u-md-5-12">
            <div class="sparkline" ng-if="stream.type === 'numerical'">
              <sparkline height="50" stream="stream.data" id="{{ stream.name }}"></sparkline>
            </div>
            <div class="sparkline" ng-if="stream.type === 'categorical'">
              <z-dna-strip width="200" height="20" stream="stream"></z-dna-strip>
            </div>
          </div>
          <div class="value before-md pure-u-md-1-4">&nbsp;{{ stream.current }}</div>
        </div>
        <div class="row action pure-g" ng-repeat="action in device.actions">
          <div class="switches pure-u-1-6 pure-u-md-1-12">
            <b class="mute">eye</b>&nbsp;<b class="pin">pushpin</b>
          </div>
          <div class="name pure-u-5-12 pure-u-md-1-4">
            # {{ action.name }}
          </div>
          <div class="value pure-u-5-12 hide-md"></div>
          <div class="pure-u-1-6 hide-md">&nbsp;</div>
          <div class="vis pure-u-5-6 pure-u-md-5-12">
            <zetta-action value="action"/>
          </div>
          <div class="value before-md pure-u-md-1-4"></div>
        </div>
      </section>
    </section>
  </div>
</section>
<ng-include src="'partials/footer.html'"></ng-include>
