<div ng-init="init()">

<div id="header" class="pure-g-r">
  <div class="pure-u-2-3 breadcrumbs">
    <div class="content">Get Started</div>
  </div>
  <div class="pure-u-1-3 logo">
    <div class="content">
      <a href="index.html"><img src="images/zetta-logo_sm.png"/></a>
    </div>
  </div>
</div>

<div>
  <div>
      <input type="url" ng-model="params.url" name="url"/>
      <button ng-click="fetchUrl(params)">Go</button>
  </div>

</div>

<ng-include src="'partials/footer.html'"></ng-include>

</div>
