<form class="pure-form query">
  <fieldset class="advanced_query">

    <div class="header pure-g">
      <div class="pure-u-1-12 icon_column">
        <!-- needs tooltip to be relevant
        <button type="button" class="icon more_info">question</button>
        -->
      </div>
      <div class="pure-u-11-12 pure-g">
        <div class="pure-u-15-24">
          <strong>Device Query Form</strong>
        </div>
        <div class="pure-u-1-24 dismiss">
          <button type="button" class="icon" ng-click="dismiss()" mac-tooltip="Hide Query Form" mac-tooltip-direction="bottom">minus</button>
        </div>
        
      </div>
    </div>
    
    <div class="query_set pure-g" ng-repeat="filter in filters">
     
      <div class="pure-u-1-12 icon_column"><button type="button" class="icon" ng-click="removeFilter($index)" ng-disabled="filters.length < 2" mac-tooltip="Remove Group" mac-tooltip-direction="bottom">delete</button></div>
      <div class="pure-u-11-12 pure-g">
        <label class="pure-u-1-4" >
            <span mac-tooltip="'string' name of device property" mac-tooltip-direction="bottom">property</span>
          </label>
        <!--<input class="pure-u-5-12" type="text" name="property" ng-model="filter.field" placeholder="type, name, id..."/>-->
        <mac-autocomplete
          class="pure-u-5-12"
          name="property"
          mac-autocomplete-source="index"
          placeholder="type, name, id..."
          ng-model="filter.field">
        </mac-autocomplete>
        <br/><label class="pure-u-1-4">
          <span mac-tooltip="Method used to compare 'property' with 'value'" mac-tooltip-direction="bottom">comparison</span>
          
        </label>
        <select class="pure-u-5-12" name="comparison" ng-model="filter.operator">
          <option value="eq">=</option>
          <option value="gt">&gt;</option>
          <option value="lt">&lt;</option>
          <option value="gte">&gt;=</option>
          <option value="lte">&lt;=</option>
          <option value="like">like</option>
        </select>
        <br/><label class="pure-u-1-4">
          <span mac-tooltip="String or number value of property.<br/>Strings can contain the '%' wildcard<br/>when used with 'like'" mac-tooltip-direction="bottom">value</span>
        </label><input class="pure-u-5-12" type="text" name="value" ng-model="filter.value" placeholder="% wildcard matches 0 or more characters"/>
      
        
      </div>
    </div>
    
    <!-- this structure is in lieu of doing all the math by hand and hard-coding -->
    <div class="pure-g">
      <div class="pure-u-1-12 icon_column"><button type="button" mac-tooltip="Add Group" mac-tooltip-direction="bottom" class="icon" ng-click="addNewFilter()">plus</button></div>
      <div class="pure-u-11-12 pure-g">
        <div class="pure-u-2-3">&nbsp;</div>
        <div class="pure-u-1-4"><button class="pure-button" ng-click="performQuery()" mac-tooltip="Submit Device Query" mac-tooltip-direction="bottom">Submit</button></div>
      </div>
    </div>

  </fieldset>
</form>
