<ng-include src="'partials/header.html'"></ng-include>
<section class="page_content pure-g" id="overview" ng-init="init()">
  <header class="pure-u-1">
    <section class="content" >
      <b class="back" ng-if="!filter">previous</b>
      <h1>{{ filter || 'root' }}</h1>
      
      <!-- Queries -->
      <form class="pure-form query">
        <fieldset class="main_query">
          <div class="pure-g">
            <div class="search_icon pure-u-1-12"><b>search</b></div>
            <div class="pure-u-11-12 pure-g">
              <div class="input pure-u-15-24">
              <div ng-show="queryInProgress" class="server-loading pure-u-1"><b>stop</b><b>stop</b><b>stop</b></div>
              <input class="pure-input-1"type="text" id="query_form" ng-model="query" name="query" ng-focus="hideAdvancedQuery()" placeholder="CaQL Device Query" ng-show="!queryInProgress"/>
              </div>
              <div class="dropdown pure-u-1-24" ng-click="toggleAdvancedQuery()">
                <button type="button" class="icon" ng-show="!isAdvancedQueryVisible">dropdown</button>
              </div>
              <div class="submit pure-u-1-4">
                <button ng-show="!queryInProgress" class="pure-button" ng-click="submitQuery()">Submit</button>
                <button ng-show="queryInProgress" class="server-loading pure-button"><b>stop</b><b>stop</b><b>stop</b></button>
                <a ng-click="clearQuery()">clear</a>
              </div>
            </div>
          </div> 
          <div><pre>{{queryError}}</pre></div>
        </fieldset>
      </form>
        
      <zetta-advanced-query
        ng-show="isAdvancedQueryVisible"
        submit="submitAdvancedQuery()"
        current="queryFilters"
        set-query-filters="setQueryFilters"
        dismiss="hideAdvancedQuery()"/>
    </section>
  </header>
  
  <div class="server-loading pure-u-1" ng-if="loading"><b>stop</b><b>stop</b><b>stop</b></div>
  <div class="server-loading pure-u-1" ng-if="!hasDevices && !loading">No devices found.</div>

  <!-- Pinned Group -->
  <div class="pinned device-group pure-g " ng-show="pinned.length">
    
    <ng-include src="'partials/pinned_characteristic.html'" class="pure-u-1"></ng-include>
  </div>
  
  <!-- Servers -->
  <div class="server device-group pure-g" ng-repeat="server in servers" ng-show="server.available && server.devices.length">
    <a name="{{ server.name + server.type | idSafe }}" id="{{ server.name + server.type | idSafe }}"></a>

    <h2 class="name pure-u-2-3">
      <span ng-if="filter">
        :devices <span class="active_query" ng-if="activeQuery">{{ activeQuery }}</span>
      </span>
      <span ng-if="!filter">
        <a ng-click="loadServer(server)">{{ server.name }}</a> : {{ server.type }} <span class="active_query" ng-if="activeQuery">{{ activeQuery }}</span>
      </span>
    </h2>
    <div class="server_endpoint pure-u-1-3">
      <form class="pure-form copy_group">
        <input class="pure-input-1" type="text" value="{{ server.lastSearch || server.href }}" readonly select-on-click/>
      </form>
    </div>
    <section class="devices pure-u-1">
      <section class="device pure-u-1" ng-repeat="device in server.devices" ng-show="device.available">
        <div class="row main pure-g">
          <div class="pure-u-1-6 pure-u-md-1-12"></div>
          <div class="name pure-u-5-6 pure-u-md-11-12">
            <a ng-click="resolve(device.href)">{{ device.properties.name || device.properties.type }}</a>
          </div>
        </div>
        <!-- Stream -->
        <div ng-repeat="stream in device.streams" class="row stream pure-g animate-size closed {{stream.type}}" ng-show="!stream.muted" id="{{ stream.id }}" ng-class="{ open: !!stream.open, closed: !stream.open }">
          <div class="switches pure-u-1-6 pure-u-md-1-12">
            <div ng-class="{ pinned: stream.pinned }">
              <b class="mute" ng-click="mute(stream)">eye</b>&nbsp;<b class="pin" ng-click="pin(stream)">pushpin</b>
            </div>
          </div>
          <div class="pure-u-5-6 pure-u-md-11-12 pure-g">
            <div class="name pure-u-1-2 pure-u-md-1-4">
              : {{ stream.name }}
            </div>
            <div class="value hide-md pure-u-1-2">{{ stream.current }}</div>
            <div class="pure-u-1-6 hide-md"></div>
            <div class="vis pure-u-1 pure-u-md-5-12">
                <div class="sparkline pure-u-1" ng-if="stream.type === 'numerical'">
                  <sparkline height="16" stream="stream.data" id="{{ stream.name }}"></sparkline>
                </div>
                <div class="dnastrip pure-u-1" ng-if="stream.type === 'categorical'">
                  <z-dna-strip width="100" height="16" stream="stream"></z-dna-strip>
                </div>
            </div>
            <div class="value before-md pure-u-md-1-4">&nbsp;{{ stream.current }}</div>
          </div>
        </div>
        <!-- Action -->
        <div class="row action animate-size closed" ng-repeat="action in device.actions" ng-show="!action.muted" id="{{ action.id }}" ng-class="{ open: !!action.open, closed: !action.open }">
          <div class="pure-g action-content">
            <div class="switches pure-u-1-6 pure-u-md-1-12">
              <div ng-class="{ pinned: action.pinned }">
                <b class="mute" ng-click="mute(action)">eye</b>&nbsp;<b class="pin" ng-click="pin(action)">pushpin</b>
              </div>
            </div>

            <zetta-overview-action value="action" class="pure-u-5-6 pure-u-md-11-12 pure-g"/>

          </div>
        </div>
      </section>
    </section>
    <div class="device_count pure-u-1" ng-if="activeQuery">{{ availableDevices(server).length }} found</div>
  </div>
  
  <!-- Muted Group -->
  
  <div class="muted device-group pure-g" ng-show="muted.length">
    <ng-include src="'partials/muted_characteristic.html'" class="pure-u-1"></ng-include>
  </div>
  
</section>
<ng-include src="'partials/footer.html'"></ng-include>
