<ng-include src="'partials/header.html'"></ng-include>
<section class="page_content front-door pure-g" ng-init="init()">
  <header class="pure-u-1">
    <section class="content">
      <h1 class="front_door">Zetta Browser</h1>
      <div class="serverError" ng-show="errMsg">
        {{errMsg}}
      </div>
      <form class="pure-form">
        <input placeholder="Server URL" type="url" ng-model="params.url" name="url" class="pure-u-1 pure-u-md-1-2"/>
        <button ng-click="fetchUrl(params)" class="pure-button">Connect</button>
      </form>
    </section>
  </header>
  <section class="device-meta pure-u-1" ng-show="serverUrls.length">
    <div class="meta-group">
      <h2 class="name">Recent Servers</h2>
      <div class="content">
        <ol class="project_list">
          <li ng-repeat="url in serverUrls" class="animated fadeIn">
            <a href="#" ng-click="fetchUrl({ url: url })">{{ url }}</a>
          </li>
        </ol>
      </div>
    </div>
  </section>
</section>
<ng-include src="'partials/footer.html'"></ng-include>
