<ng-include src="'partials/header.html'"></ng-include>
<section class="page_content front-door pure-g" ng-init="init()">
  <header class="pure-u-1">
    <section class="content">
      <h1 class="front_door">Zetta Browser</h1>
      <div class="serverError" ng-show="errMsg">
        {{errMsg}}
      </div>
      <form class="pure-form">
        <fieldset>
          <input placeholder="Server URL" type="url" ng-model="params.url" name="url" class="pure-u-1 pure-u-md-1-2"/>
          <button ng-click="fetchUrl(params)" class="pure-button">Connect</button>

          <div class="pure-u-md-1-3" style="margin-top: -15px; padding-left: 10px;">
          <h3 >Select Security scheme</h3>
          <label for="option-no-sec" style="padding-right: 10px;">
            <input id="option-no-sec" type="radio" ng-model="params.security" name="optionsRadios" value="none" checked>
            None
          </label>
          <label for="option-oauth">
              <input id="option-oauth" type="radio" ng-model="params.security" name="optionsRadios" value="oauth">
              OAuth
          </label>
          </div>
        </fieldset>
        <h4 ng-hide="params.security!='oauth'">OAuth Token</h4>
        <input placeholder="OAuthToken" type="text" ng-hide="params.security!='oauth'" ng-disabled="params.security!='oauth'" ng-model="params.oauthtoken" name="oauthtoken" class="pure-u-1 pure-u-md-1-2"/>
      </form>
    </section>
  </header>
  <section class="device-meta pure-u-1" ng-show="serverUrls.length">
    <div class="meta-group">
      <h2 class="name">Recent Servers</h2>
      <div class="content">
        <ol class="project_list">
          <li ng-repeat="url in serverUrls" class="animated fadeIn">
            <a href="#" ng-click="fetchUrl({ url: url })">{{ url }}</a>
          </li>
        </ol>
      </div>
    </div>
  </section>
</section>
<ng-include src="'partials/footer.html'"></ng-include>